<h1>{{title}}</h1>

<h2>{{Encabezado1}}</h2>
<div>
    <div>
        <p>Nombre</p>
        <input type="text" [(ngModel)]="Nombre">
    </div>
    
    <div>
        <p>Apellido1</p>
        <input type="text" [(ngModel)]="Apellido1">
    </div>
    
    <div>
        <p>Appelido2</p>
        <input type="text" [(ngModel)]="Apellido2">
    </div>
</div>

<h2>{{Encabezado2}}</h2>
<div>


    <div>
        <p>Fecha de nacimiento</p>
        
        <form action="" >
            
            <input type="date" id="birthday" name="birthday" [(ngModel)]="FechaNacimiento">
            
            {{ FechaNacimiento }} / {{ FechaNacimientoFormateada }}
        </form>
        
    </div>
    
    
    <div>
        <p>Sexo</p>
        <select name="sexo" id="" [(ngModel)]="Sexo">
            <option value="H">Hombre</option>
            <option value="M">Mujer</option>
        </select>

        {{Sexo}}
    </div>
    
    <div>
        <p>Estado de Nacimiento</p>
        <select name="fecha" id="" [(ngModel)]="LugarNacimiento" >
            <option *ngFor="let estado of estados" value="{{estado.abreviacion}}" > {{ estado.nombre }}</option>
            
        </select>
        {{ LugarNacimiento }}
    </div>
    
</div>

<h2>"CURP"</h2>
{{CURP | uppercase}}

